
<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">MyCostumes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/order">Myorders</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/cart">Cart<span class="badge badge-dark" id="cart-count">{{cartCount}}</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="">About</a>
      </li>
      {{#if user}}
       <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {{else}}
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {{/if}}
       <li class="nav-item active">
        <a class="nav-link" href="/profile"><i class="fa fa-user" aria-hidden="true"></i>{{user.username}}</a>
      </li>
      
    
    </ul>
  </div>
</nav>

