{{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script><nav class="navbar navbar-expand-lg navbar-light "> 
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">MyCostumes</a>
      </li>
      
    </ul>
  </div>
</nav>
 


 --}}

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head> 
<body>
  <style>
    .navbar{
  margin-top: 20px;
  color: black;
  background-color: white;
}
  </style>
<div class="container">
    <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand" style="color:rgb(122, 122, 240);font-style: italic;">MyCostumes</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
               
                <li class="">
        <a class="n" href="/order">Myorders</a>
      </li>
      <li class="">
        <a class="" href="/cart">Cart<span class="badge badge-dark" id="cart-count">{{cartCount}}</span></a>
      </li>
       <li class="">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
       <li class="">
        <a class="" href="">About</a>
      </li>
      {{#if user}}
       <li class="">
        <a class="" href="/logout">Logout</a>
      </li>
      {{else}}
      <li class="">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {{/if}}
                
               
            </ul>
            
                
      <ul class="nav navbar-nav navbar-right">
       <li class="">
        <a class="nav-link" href="/profile"><i class="fa fa-user" aria-hidden="true"></i>{{user.username}}</a>
      </li>
      
    
            </ul>
        </div>
    </nav>
</div>

