
<section>
    
    <nav class="navbar navbar-expand-lg nav-bar default ml-5">
        <div class="container-fluid">

        <ul class="navbar-nav mr-auto">
            <li class="active">
                <a href="/" class="nav-link">MyCostumes</a>
            </li>
            <li class="nav-item">
                <a href="/category" class="nav-link">Categories</a>
            </li>
          
            <li class="nav-item">
                <a href="/order" class="nav-link">My Orders</a>
            </li>
            <li class="nav-item">
                <a href="/cart" class="nav-link">Cart <span  class="badge badge-dark" id="cart-count">{{cartCount}}</span></a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
                
            </li>
              <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>

             {{#if user}}
          <li class="nav-item">
            <a class="nav-link"  href="/logout">Logout </a>
            
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link"  href="/login">login</a>
          </li>
          {{/if}}
        <li class="nav-item" style="margin-left:70%;">
            <a class="nav-link"  href="/profile"><i class="fa fa-user" aria-hidden="true"></i>{{user.username}}
</a>
          </li>
         
        </ul>
        </div>
    </nav>
    </div>
</section>