
<section>
    
    <nav class="navbar navbar-expand-lg ml-5">

        <ul class="navbar-nav mr-auto">
            <li class="active">
                <a href="/" class="nav-link">MyCostumes</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">My Orders</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Cart</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
             {{#if req.session.user}}
            <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a href="/logout" class="nav-link">Logout{{req.session.user.username}}</a>
            </li>
            {{/if}}
        </ul>
        </div>
    </nav>
</section>