 <form class="form-horizontal" action="" id="checkoutform" >
 <div class="col md-4">
    <div class="container mt-5 ml-5 checkout">
      
        <h4 style="color:darkorchid;"><b>Total Amount =<i>  ₹ {{total}} </i></b></h4>
        <hr>
        <div class="payment">
            <p>Payment method</p>
            <label for="" class="radio-inline">
            <input type="radio" name="paymentMethod" value="COD" checked> COD</label>
            <br><br>
            <label for="" class="radio-inline">
            <input type="radio" name="paymentMethod" value="Online"> Online payment</label>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
     
        <fieldset>

          <!-- Form Name -->
          <legend>Address Details</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput" >Line 1 </label>
            <div class="col-sm-10">
              <input type="text" placeholder="Address Line 1" class="form-control" name="addressLine1" required>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Line 2</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Address Line 2" class="form-control" name="addressLine2" required >
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">City</label>
            <div class="col-sm-10">
              <input type="text" placeholder="City" class="form-control" name="city" required>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">

            <label class="col-sm-2 control-label" for="textinput">Postcode</label>
            <div class="col-sm-4">
              <input type="text" placeholder="Post Code" class="form-control" name="pin" required>
            </div>
          </div>



          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Mobile</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Mobile" class="form-control" name="mobile">
            </div>
             <div class="col-sm-10">
              <input type="text" placeholder="userId" class="form-control" name="userId" value="{{user._id}} " hidden>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
              </div>
            </div>
          </div>

        </fieldset>
     
    </div><!-- /.col-lg-12 -->
</div>
<br>
<div class="container" style="padding-left: 30%;">
<button class="btn btn-primary ml-5" type="submit" style="padding-left:3em; padding-right:3em;">Checkout</button>
</div>
 </form>
 <script>
	$("#checkoutform").submit((e)=>{
    e.preventDefault()
		$.ajax({
        
			url:'/checkout',
			method:'post',
			data:$('#checkoutform').serialize(),
				success:(response)=>{
          if (response.codSuccess){
          
	       location.href='/order-success'
      }else{
        razorpayPayment(response)
      }
				}
			})
		})
function razorpayPayment(order) {
      var options = {
        "key": "rzp_test_YW0yxpLz6IcM7R", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "MYCOSTUMES",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
  
          {{!-- {
           
              alert(response.razorpay_payment_id);
              alert(response.razorpay_order_id);
              alert(response.razorpay_signature)
          
          } --}}
          verifyPayment(response, order)
        },
        "prefill": {
          "name": "Gaurav Kumar",
          "email": "gaurav.kumar@example.com",
          "contact": "9999999999"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3399cc"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }
    function verifyPayment(payment, order) {
      $.ajax({
        url: '/verify-payment',
        data: {
          payment,
          order
        },
        method: 'post',
        success: (response) => {
          if (response.status) {
            location.href = '/order-success'
            console.log('success')
          } else {
            location.href='/orders'
          }
        }
      })
    }
  </script>