
<form action="/login" method="POST">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
     
  

    <!-- Login Form -->
   
      <input style="background-color: white;" type="text" id="login" class="fadeIn second" name="email" placeholder="email">
      <input style="height: 3.5em; width:85%; ;" type="password" id="login" class="fadeIn second mt-3" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth mt-3" value="Log In">
      <div>
      <button class="mb-5" style="background-color: white;" ><a href="/google"><i class="fa fa-google" aria-hidden="true"> Login with google</i>
</a></button>
   
  </div>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/register">Dont have an account?</a>
    </div>
    
    </div>

  </div>
</div>
 </form>