
<section>
     
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
     
    </div>

    <!-- Login Form -->
   
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" required>
      <input type="text" id="mobile" class="fadeIn third" name="login" placeholder="mobile" required> 
      <input type="text" id="email" class="fadeIn fourth" name="login" placeholder="email" required>
      <input type="text" id="password" class="fadeIn fifth" name="login" placeholder="password" required>
      <input type="submit" class="fadeIn sixth" value="Register">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/login">Already have an account?</a>
    </div>

  </div>
</div>
</section>